<events>
  <event
    name="GunStart"
    type="start"
    distance_type="meters"
    >
  </event>
  <event
    name="ChipStart"
    type="start"
    distance_type="meters"
    >
  </event>
  <event
    name="LPTCheckpoint"
    distance_type="meters"
    pre_event="GunStart"
    pre_event_earlier
    >
  </event>
  <event
    name="Announcer"
    distance_type="meters"
    pre_event_earlier
    >
  </event>
  <event
    name="Finish"
    type="finish"
    distance_type="meters"
    pre_event="GunStart"
    pre_event_earlier
    >
  </event>
</events>
