<events>
  <event
    name="GunStart"
    type="start"
    distance_type="meters"
    >
  </event>
  <event
    name="ChipStart"
    type="start"
    distance_type="meters"
    >
  </event>
  <event
    name="LPTCheckpoint"
    distance_type="meters"
    pre_event="GunStart"
    pre_event_earlier
    >
  </event>
  <event
    name="Split2K"
    type="split"
    distance_type="km"
    distance="2"
    pre_event="GunStart"
    pre_event_earlier
    >
  </event>
  <event
    name="Split5K"
    type="split"
    distance_type="km"
    distance="5"
    pre_event="GunStart"
    pre_event_earlier
    >
  </event>
  <event
    name="Split8K"
    type="split"
    distance_type="km"
    distance="8"
    pre_event="GunStart"
    pre_event_earlier
    >
  </event>
  <event
    name="Split10K"
    type="split"
    distance_type="km"
    distance="10"
    pre_event="GunStart"
    pre_event_earlier
    >
  </event>
  <event
    name="Split18K"
    type="split"
    distance_type="km"
    distance="18"
    pre_event="GunStart"
    pre_event_earlier
    >
  </event>
  <event
    name="Announcer"
    distance_type="meters"
    pre_event_earlier
    >
  </event>
  <event
    name="Finish"
    type="finish"
    distance_type="meters"
    pre_event="GunStart"
    pre_event_earlier
    >
  </event>
</events>
